<!-- movies.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movies - MovieWeb App</title>
</head>
<body>
    <h1>All Movies</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/users">Users</a>
        <a href="/movies"><button>Movies</button></a>
    </nav>

    {% if message %}
        <p style="color: green;">{{ message }}</p>
    {% endif %}

    {% if movies %}
        <ul>
            {% for movie in movies %}
                <li>{{ movie.title }} ({{ movie.release_year }}) - Rating: {{ movie.rating }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No movies available.</p>
    {% endif %}
</body>
</html>
