<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movies - MovieWeb App</title>
</head>
<body>
    <h1>All Movies</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/users">Users</a>
        <a href="/movies"><button>Movies</button></a>
        <a href="/add_movie"><button>Add Movie</button></a> <!-- Add Movie Button -->
    </nav>
    <ul>
        {% for movie in movies %}
        <li>
            {{ movie.title }} ({{ movie.release_year }}) - Directed by {{ movie.director }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
