<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update User</title>
</head>
<body>
    <h1>Update User</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/users">Users</a>
        <a href="/movies"><button>Movies</button></a>
    </nav>

    <!-- Success message -->
    {% if success_message %}
        <p class="alert alert-success">{{ success_message }}</p>
    {% endif %}

    <!-- Warning message -->
    {% if warning_message %}
        <p class="alert alert-warning">{{ warning_message }}</p>
    {% endif %}

    <!-- Form for updating a user -->
    <form action="" method="POST" class="styled-form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ user.name }}"><br><br>
        <input type="submit" value="Update User">
    </form>
</body>
</html>
