
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users - MovieWeb App</title>
</head>
<body>
    <h1>Users</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/users">Users</a>
        <a href="/movies"><button>Movies</button></a>
    </nav>
    <ul>
        {% for user in users %}
        <li>
            <!-- Link to the user's movie list -->
            <a href="{{ url_for('user_movies', user_id=user.id) }}">{{ user.name }}</a>

            <!-- Button to add a movie for the user -->
            <a href="{{ url_for('add_movie', user_id=user.id) }}">
                <button>Add Movie for {{ user.name }}</button>
            </a>

            <!-- Button to update a movie in the user's collection -->
            <a href="{{ url_for('update_movie', user_id=user.id, movie_id=1) }}"> <!-- Placeholder movie_id -->
                <button>Update Movie for {{ user.name }}</button>
            </a>

            <!-- Button to update user information -->
            <a href="{{ url_for('update_user', user_id=user.id) }}">
                <button>Update {{ user.name }}</button>
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
